html,
body {
  height: 100%;
  margin: 0;
}

main {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  width: 100%;
}

.footerInfo {
  background: linear-gradient(
    to right,
    rgb(253, 253, 253) 5%,
    rgb(238, 255, 1) 20%,
    rgba(238, 255, 1) 70%,
    rgb(253, 253, 253) 100%
  );
  padding: 10px;
}

@media screen and (max-width: 768px) {
  #carouselExampleControls a {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
  }

  .navbar ul {
    flex-direction: column;
    gap: 15px;
    padding: 0px;
    align-items: center;
    padding: 10px;
    width: 100%;
    position: relative;
    left: 230px;
  }

  .logo li {
    margin: 5px 2;
  }

  .navbar-brand img {
    width: 150px;
  }

  .navbar a {
    padding: 5px 15px;
  }

  .col-md-10.offset-md-2 {
    margin-left: 0;
    width: 100%;
  }

  .footerInfo .row {
    flex-direction: column;
    text-align: center;
  }

  .footerInfo .offset-md-4 {
    margin-left: 0;
  }

  .col-md-6 {
    padding: 10px 15px;
  }

  #container {
    display: block;
  }

  .footerInfo .offset-md-4,
  .footerInfo .offset-inner {
    margin-left: 0;
    text-align: center;
  }

  .footerInfo .row > div {
    padding: 15px;
  }
}

@media screen and (max-width: 576px) {
  .footer .footer-top .container section {
    display: flex;

    gap: 10px;
  }

  .footer .footer-top .container section a {
    margin: 20px 5px;
  }
}

#header {
  position: relative;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(
    to right,
    rgb(253, 253, 253) 5%,
    rgb(238, 255, 1) 20%,
    rgba(238, 255, 1) 70%,
    rgb(253, 253, 253) 100%
  );
}

.navbar-brand img {
  width: 200px;
}

.navbar {
  padding: 10px;
  margin-left: 10px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.logo li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0 0px 30px;

  font-size: 20;
  color: #070707;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a {
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
}

.logo a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 1;
  width: 0;
  height: 2px;
  background-color: #000000;
  transition: width 0.3s ease;
}

.navbar a:hover::after,
.navbar .active::after {
  width: 75%;
}

.logo {
  margin-right: 500px;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 1px;
  opacity: 0;
  visibility: hidden;
  font-size: 34px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: translateY(20px);
}

.back-to-top.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.back-to-top:hover {
  transform: translateY(-5px);
}

#container {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1000;
}

.footer .footer-top .container section a {
  display: block;
  margin: 50px auto;
}

body.high-contrast {
  background-color: #000;
  color: #fff;
}

body.light-background {
  background-color: #f4f4f4;
  color: #333;
}

body.custom-font {
  font-family: "Times New Roman", Times, serif;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  padding: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.menu button {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  border: none;
  background-color: #e7e7e7;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu button:hover {
  background-color: #d3d3d3;
}

.menuAcessibilidade {
  position: fixed;
  bottom: 80px;
  right: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 1000;
  height: 300px;
}

.emailIcon {
  color: #ea4335;
}

.telefoneIcon {
  color: #34a853;
}

p a {
  text-decoration: none;
  color: inherit;
}

.footerInfo {
  background: linear-gradient(
    to right,
    rgb(253, 253, 253) 5%,
    rgb(238, 255, 1) 20%,
    rgba(238, 255, 1) 70%,
    rgb(253, 253, 253) 100%
  );
  padding: 10px;
}

.featured-section {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.featured-container {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem 0;
}

.post-slide {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  gap: 2rem;
}

@media (min-width: 768px) {
  .post-slide {
    flex-direction: row;
    align-items: center;
  }
}

.post-image {
  flex: 0 0 50%;
}

.post-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.post-details {
  flex: 1;
  padding: 1rem;
}

.category-tag {
  display: inline-block;
  background: rgba(183, 202, 6, 0.2);
  padding: 0.25rem 1rem;
  border-radius: 999px;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.post-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.post-excerpt {
  color: #666;
  margin-bottom: 1.5rem;
}

.read-more {
  display: inline-block;
  background: rgb(183, 202, 6);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.read-more:hover {
  background: rgb(163, 182, 0);
  color: white;
  text-decoration: none;
}

.carousel-control-prev,
.carousel-control-next {
  width: 3rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(183, 202, 6, 0.7);
  border-radius: 50%;
  padding: 1.5rem;
}

.modalBlog {
  margin: auto;
  border-radius: 15px;
  overflow: hidden;
}

.modalBlog .modal-content {
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.modalBlog .modal-header {
  background-color: rgba(183, 202, 6, 0.7);
  padding: 15px;
  border-bottom: none;
  border-radius: 15px 15px 0 0;
}

.modalBlog .modal-header .modal-title {
  font-size: 1.5rem;
}

.modalBlog .modal-body {
  padding: 20px;
}

.modalBlog .modal-body span {
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
}

.modalBlog .modal-body input.text {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 1rem;
}

.modalBlog .modal-footer {
  border-top: none;
  padding: 15px 20px;
  justify-content: space-between;
}

.modalBlog .btn-dark {
  background-color: rgba(183, 202, 6, 0.7);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.modalBlog .btn-close {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.2rem;
}

.modalBlog button {
  background-color: rgba(183, 202, 6, 0.7);
  border: none;
}

.modalBlog button:hover {
  background-color: rgba(183, 202, 6, 0.7);
}
